*.aux
*.log
*.toc
*.out
*.gz
*.lof
*.tps
*.bbl
*.blg
*.lot
Dokumentation/Dokumentation.pdf
Dokumentation/Anhangsdokument.pdf
Dokumentation/Morphologie.pdf
Dokumentation/Recherche.pdf
Dokumentation/Team.pdf